
.content {
    position: relative;
    top: 20vh;
    color: red;
    padding: 2vh;
    overflow: hidden;
    width: inherit;
    margin: 0px;
    position: relative;
}

.content-list {
    width: inherit;
    height: inherit;
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: larger;
}

.content-item {
    border: 5px solid black;
    
    margin: 20px;
    border-bottom-right-radius: 20px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: flex-start;
    align-items: center;
}

.content-item img {
    width: 80px;
    height: 80px;
}

.content-item .item-1 {

    flex-grow: 1;
    flex-shrink: 2;
    
}

.content-item .item-2 {
    
}

.content-item .item-3 {
    flex-grow: 1;
    flex-shrink: 2;
    color: white;
    margin: 20px;
    text-align: center;
    padding: 10px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: black;
    font-size: medium;
    overflow-y: auto;
    width: 200px;
    height: auto;
    overflow-wrap: break-word;
}

@media  screen and (max-width: 200px) {
    .content-item img {
        width: 40px;
        height: 40px;
    }

    .content-item .item-3 {
        flex-grow: 1;
        flex-shrink: 2;
        color: white;
        margin: 20px;
        text-align: center;
        padding: 10px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        background-color: black;
        font-size: medium;
        overflow-y: auto;
        width: 200px;
        height: auto;
    }
}